<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.velvol.salary.dao.MobileInterfaceMapper">
    <select id="selectUserByName" resultType="User" parameterType="string">
        select * FROM user WHERE username =#{userName}
    </select>

    <!--查询在职人数-->
    <select id="selectPersonCount" resultType="Integer" parameterType="java.lang.Integer">
        SELECT count(id) FROM worker WHERE state = 3
        <!--<if test="region != null">-->
            <!--AND region =#{region}-->
        <!--</if>-->
        <if test="regionId != null">
            AND region_id =#{regionId}
        </if>
    </select>

    <!--查询昨天入职人数-->
    <select id="selectEntryCount" resultType="Integer">
        SELECT count(id) FROM worker WHERE state = 3 AND indate =#{date}
        <!--<if test="region != null">-->
            <!--AND region =#{region}-->
        <!--</if>-->
        <if test="regionId != null">
            AND region_id =#{regionId}
        </if>
    </select>

    <!--查询昨天离职人数-->
    <select id="selectLeaveCount" resultType="Integer">
        SELECT count(id) FROM worker WHERE  lzDate =#{date}
        <!--<if test="region != null">-->
            <!--AND region =#{region}-->
        <!--</if>-->
        <if test="regionId != null">
            AND region_id =#{regionId}
        </if>
    </select>

    <!--查询当月的订单数-->
    <select id="selectOrderCount" resultType="Integer">
        SELECT IFNULL(sum(count), 0) FROM station_order_count  WHERE order_time BETWEEN #{firstDate} AND  #{lastDate}

        <if test="regionId != null">
            AND region =#{regionId}
        </if>
    </select>

    <!--统计个地区的人员数-->
    <select id="queryRegionPersonCount" resultType="map">
        SELECT r.id, r.name, COUNT(w.id) AS personCount FROM worker w LEFT JOIN region r ON w.region_id = r.id WHERE w.state = 3 GROUP BY w.region_id
    </select>

    <!--统计当前月每天的人数-->
    <select id="queryDayPersonCount" resultType="Integer">
        SELECT count(id) FROM worker WHERE  indate &lt;= #{date}
        <if test="regionId != null">
            AND region_id =#{regionId}
        </if>
    </select>

    <!--统计当前月地区的订单数-->
    <select id="queryRegionOrderCount" resultType="map">
        SELECT r.id, r.name, IFNULL(SUM(s.count), 0) AS orderCount FROM station_order_count s LEFT JOIN region r
        ON s.region = r.id WHERE s.order_time BETWEEN #{firstDate} AND  #{lastDate} GROUP BY s.region
    </select>

    <!--统计当前月每天的订单数-->
    <select id="queryDayOrderCount"  resultType="Integer">
        SELECT IFNULL(SUM(COUNT), 0) FROM station_order_count WHERE  order_time = #{date}
        <if test="regionId != null">
            AND region =#{regionId}
        </if>
    </select>



    <!--统计个站点的人员数-->
    <select id="queryStationPersonCount" resultType="map" parameterType="Integer">
        SELECT r.id, r.name, COUNT(w.id) AS personCount FROM worker w LEFT JOIN station r ON w.station_id = r.id
        WHERE w.state = 3 AND w.region_id =#{regionId} GROUP BY w.station_id
    </select>

    <!--统计当前月个站点的订单数-->
    <select id="queryStationOrderCount" resultType="map">
        SELECT r.id, r.name, IFNULL(SUM(s.count), 0) AS orderCount FROM station_order_count s LEFT JOIN station r
        ON s.station_id = r.orderStationId WHERE s.order_time BETWEEN #{firstDate} AND  #{lastDate} AND s.region =#{regionId}  GROUP BY s.station_id
    </select>

    <!--查询用户-->
    <select id="selectUserById" resultType="com.velvol.salary.domain.User" parameterType="java.lang.String">
        SELECT * FROM USER WHERE id =#{userId}
    </select>

    <!--修改用户密码-->
    <update id="updatePassword" parameterType="com.velvol.salary.domain.User">
        UPDATE USER SET password =#{password} WHERE ID =#{id}
    </update>
</mapper>