<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.velvol.salary.dao.SalaryBjResultDetailMapper" >
  <resultMap id="BaseResultMap" type="com.velvol.salary.domain.SalaryBjResultDetail" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="rider_id" property="riderId" jdbcType="VARCHAR" />
    <result column="rider_name" property="riderName" jdbcType="VARCHAR" />
    <result column="stataion_id" property="stataionId" jdbcType="VARCHAR" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="inside_number" property="insideNumber" jdbcType="INTEGER" />
    <result column="base_price" property="basePrice" jdbcType="INTEGER" />
    <result column="less_task_price" property="lessTaskPrice" jdbcType="INTEGER" />
    <result column="charge_price" property="chargePrice" jdbcType="INTEGER" />
    <result column="live_price" property="livePrice" jdbcType="INTEGER" />
    <result column="telephone_price" property="telephonePrice" jdbcType="INTEGER" />
    <result column="meal_price" property="mealPrice" jdbcType="INTEGER" />
    <result column="vehicle_price" property="vehiclePrice" jdbcType="INTEGER" />
    <result column="vehicle_deduction_price" property="vehicleDeductionPrice" jdbcType="INTEGER" />
    <result column="no_standard_price" property="noStandardPrice" jdbcType="INTEGER" />
    <result column="night_number" property="nightNumber" jdbcType="INTEGER" />
    <result column="night_price" property="nightPrice" jdbcType="INTEGER" />
    <result column="big_night_number" property="bigNightNumber" jdbcType="INTEGER" />
    <result column="big_night_price" property="bigNightPrice" jdbcType="INTEGER" />
    <result column="interval_price" property="intervalPrice" jdbcType="INTEGER" />
    <result column="interval_one_number" property="intervalOneNumber" jdbcType="INTEGER" />
    <result column="interval_one_price" property="intervalOnePrice" jdbcType="INTEGER" />
    <result column="interval_two_number" property="intervalTwoNumber" jdbcType="INTEGER" />
    <result column="interval_two_price" property="intervalTwoPrice" jdbcType="INTEGER" />
    <result column="interval_three_number" property="intervalThreeNumber" jdbcType="INTEGER" />
    <result column="interval_three_price" property="intervalThreePrice" jdbcType="INTEGER" />
    <result column="interval_four_number" property="intervalFourNumber" jdbcType="INTEGER" />
    <result column="interval_four_price" property="intervalFourPrice" jdbcType="INTEGER" />
    <result column="interval_five_number" property="intervalFiveNumber" jdbcType="INTEGER" />
    <result column="interval_five_price" property="intervalFivePrice" jdbcType="INTEGER" />
    <result column="distance_one_number" property="distanceOneNumber" jdbcType="INTEGER" />
    <result column="diatance_one_price" property="diatanceOnePrice" jdbcType="INTEGER" />
    <result column="distance_two_number" property="distanceTwoNumber" jdbcType="INTEGER" />
    <result column="distance_two_price" property="distanceTwoPrice" jdbcType="INTEGER" />
    <result column="equip_price" property="equipPrice" jdbcType="INTEGER" />
    <result column="insurance_price" property="insurancePrice" jdbcType="INTEGER" />
    <result column="outside_number" property="outsideNumber" jdbcType="INTEGER" />
    <result column="outside_price" property="outsidePrice" jdbcType="INTEGER" />
    <result column="outside_distance_price" property="outsideDistancePrice" jdbcType="INTEGER" />
    <result column="outside_night_price" property="outsideNightPrice" jdbcType="INTEGER" />
    <result column="outside_noon_price" property="outsideNoonPrice" jdbcType="INTEGER" />
    <result column="cmmon_overtime_price" property="cmmonOvertimePrice" jdbcType="INTEGER" />
    <result column="serious_overtime_price" property="seriousOvertimePrice" jdbcType="INTEGER" />
    <result column="no_service_price" property="noServicePrice" jdbcType="INTEGER" />
    <result column="one_star_price" property="oneStarPrice" jdbcType="INTEGER" />
    <result column="two_star_price" property="twoStarPrice" jdbcType="INTEGER" />
    <result column="complain_price" property="complainPrice" jdbcType="INTEGER" />
    <result column="class_ii_complain" property="classIiComplain" jdbcType="INTEGER" />
    <result column="belate_price" property="belatePrice" jdbcType="INTEGER" />
    <result column="absent_price" property="absentPrice" jdbcType="INTEGER" />
    <result column="personal_tax" property="personalTax" jdbcType="INTEGER" />
    <result column="amount_price" property="amountPrice" jdbcType="INTEGER" />
    <result column="round_amount_price" property="roundAmountPrice" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <select id="queryNewResultDetailPage" resultType="map">
    SELECT
    s.*,u.entry_time,u.resign_time,u.attend_actual,u.belate,u.absent,u.rest,u.leave,u.vehicle,u.live,
    u.subsidy_price, u.smile_action_price, u.temperature_price,u.remark,u.is_new_rider,u.equip_price AS user_equip_price,
    w.telephone,w.state,
    o.on_time_proportion, o.complete_proportion,o.pleased_proportion,o.overtime_adjust_number,
    o.no_service_number, o.one_star, o.two_star, o.complain, o.class_ii_complain, o.introduction_fee_deduct,o.live_Deduct,
    o.group_leader,o.royal_knight,o.five_star_general,o.social_security,o.serious_overtime_number AS serious_number,
    (SELECT DISTINCT(b.cardnum) FROM bankcardinfo b  WHERE b.flag = 0 AND b.workid = w.id  ) AS mainCard,
    (SELECT DISTINCT(b.address) FROM bankcardinfo b  WHERE b.flag = 0 AND b.workid = w.id  ) AS address,
    (SELECT DISTINCT(b.ownerid) FROM bankcardinfo b  WHERE b.flag = 0 AND b.workid = w.id  ) AS ownerid
    FROM salary_bj_result_detail s
    LEFT JOIN worker w ON s.rider_id = w.meituanid
    LEFT JOIN salary_order_adjust o ON s.rider_id = o.rider_id AND  o.record_id = #{salaryBjResultDetail.recordId}
    LEFT JOIN salary_user_info u ON s.rider_id = u.rider_id AND  u.record_id = #{salaryBjResultDetail.recordId}
    <where>
      <if test="salaryBjResultDetail.recordId != null and salaryBjResultDetail.recordId != ''">
        AND s.record_id = #{salaryBjResultDetail.recordId}
      </if>
      <if test="salaryBjResultDetail.riderName != null and salaryBjResultDetail.riderName != ''">
        and s.rider_name LIKE "%"#{salaryBjResultDetail.riderName}"%"
      </if>
      <if test="salaryBjResultDetail.stataionId != null and salaryBjResultDetail.stataionId != ''">
        and s.stataion_id = #{salaryBjResultDetail.stataionId}
      </if>
      <if test="salaryBjResultDetail.riderId != null and salaryBjResultDetail.riderId != ''">
        and s.rider_id = #{salaryBjResultDetail.riderId}
      </if>
      <if test="salaryBjResultDetail.status != null and salaryBjResultDetail.status != ''">
        and s.status = #{salaryBjResultDetail.status}
      </if>
      <if test="isNewRider!= null">
        and u.is_new_rider = #{isNewRider}
      </if>
    </where>
    ORDER by s.stataion_id, s.inside_number DESC
  </select>


  <insert id="insert" parameterType="SalaryBjResultDetail" >
    insert into salary_bj_result_detail (id, record_id, rider_id, 
      rider_name, stataion_id, station_name, 
      inside_number, base_price, less_task_price, 
      charge_price, live_price, telephone_price, 
      meal_price, vehicle_price, live_deduction_price, 
      vehicle_deduction_price, no_standard_price, 
      night_number, night_price, big_night_number, 
      big_night_price, interval_price, interval_one_number, 
      interval_one_price, interval_two_number, interval_two_price, 
      interval_three_number, interval_three_price, 
      interval_four_number, interval_four_price, 
      interval_five_number, interval_five_price, 
      distance_one_number, diatance_one_price, distance_two_number, 
      distance_two_price, equip_price, insurance_price, 
      outside_number, outside_price, outside_distance_price, 
      outside_night_price, outside_noon_price, cmmon_overtime_price, 
      serious_overtime_price, no_service_price, one_star_price, 
      two_star_price, complain_price, class_ii_complain, 
      belate_price, absent_price, amount_price, 
      status)
    values (#{id,jdbcType=INTEGER}, #{recordId,jdbcType=INTEGER}, #{riderId,jdbcType=VARCHAR}, 
      #{riderName,jdbcType=VARCHAR}, #{stataionId,jdbcType=VARCHAR}, #{stationName,jdbcType=VARCHAR}, 
      #{insideNumber,jdbcType=INTEGER}, #{basePrice,jdbcType=INTEGER}, #{lessTaskPrice,jdbcType=INTEGER}, 
      #{chargePrice,jdbcType=INTEGER}, #{livePrice,jdbcType=INTEGER}, #{telephonePrice,jdbcType=INTEGER}, 
      #{mealPrice,jdbcType=INTEGER}, #{vehiclePrice,jdbcType=INTEGER}, #{liveDeductionPrice,jdbcType=INTEGER}, 
      #{vehicleDeductionPrice,jdbcType=INTEGER}, #{noStandardPrice,jdbcType=INTEGER}, 
      #{nightNumber,jdbcType=INTEGER}, #{nightPrice,jdbcType=INTEGER}, #{bigNightNumber,jdbcType=INTEGER}, 
      #{bigNightPrice,jdbcType=INTEGER}, #{intervalPrice,jdbcType=INTEGER}, #{intervalOneNumber,jdbcType=INTEGER}, 
      #{intervalOnePrice,jdbcType=INTEGER}, #{intervalTwoNumber,jdbcType=INTEGER}, #{intervalTwoPrice,jdbcType=INTEGER}, 
      #{intervalThreeNumber,jdbcType=INTEGER}, #{intervalThreePrice,jdbcType=INTEGER}, 
      #{intervalFourNumber,jdbcType=INTEGER}, #{intervalFourPrice,jdbcType=INTEGER}, 
      #{intervalFiveNumber,jdbcType=INTEGER}, #{intervalFivePrice,jdbcType=INTEGER}, 
      #{distanceOneNumber,jdbcType=INTEGER}, #{diatanceOnePrice,jdbcType=INTEGER}, #{distanceTwoNumber,jdbcType=INTEGER}, 
      #{distanceTwoPrice,jdbcType=INTEGER}, #{equipPrice,jdbcType=INTEGER}, #{insurancePrice,jdbcType=INTEGER}, 
      #{outsideNumber,jdbcType=INTEGER}, #{outsidePrice,jdbcType=INTEGER}, #{outsideDistancePrice,jdbcType=INTEGER}, 
      #{outsideNightPrice,jdbcType=INTEGER}, #{outsideNoonPrice,jdbcType=INTEGER}, #{cmmonOvertimePrice,jdbcType=INTEGER}, 
      #{seriousOvertimePrice,jdbcType=INTEGER}, #{noServicePrice,jdbcType=INTEGER}, #{oneStarPrice,jdbcType=INTEGER}, 
      #{twoStarPrice,jdbcType=INTEGER}, #{complainPrice,jdbcType=INTEGER}, #{classIiComplain,jdbcType=INTEGER}, 
      #{belatePrice,jdbcType=INTEGER}, #{absentPrice,jdbcType=INTEGER}, #{amountPrice,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>

</mapper>