<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.velvol.salary.dao.SalaryOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.velvol.salary.domain.SalaryOrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="waybill_id" property="waybillId" jdbcType="VARCHAR" />
    <result column="seller_num" property="sellerNum" jdbcType="VARCHAR" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="rider_name" property="riderName" jdbcType="VARCHAR" />
    <result column="rider_id" property="riderId" jdbcType="VARCHAR" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="stataion_id" property="stataionId" jdbcType="VARCHAR" />
    <result column="trade_area" property="tradeArea" jdbcType="VARCHAR" />
    <result column="preorder" property="preorder" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="organization_type" property="organizationType" jdbcType="VARCHAR" />
    <result column="epiboly_type" property="epibolyType" jdbcType="VARCHAR" />
    <result column="delivery_duration" property="deliveryDuration" jdbcType="VARCHAR" />
    <result column="wait_duration" property="waitDuration" jdbcType="VARCHAR" />
    <result column="arrive_duration" property="arriveDuration" jdbcType="VARCHAR" />
    <result column="hit_duration" property="hitDuration" jdbcType="VARCHAR" />
    <result column="nav_distance" property="navDistance" jdbcType="VARCHAR" />
    <result column="line_distance" property="lineDistance" jdbcType="VARCHAR" />
    <result column="seller_address" property="sellerAddress" jdbcType="VARCHAR" />
    <result column="seller_delivery_score" property="sellerDeliveryScore" jdbcType="VARCHAR" />
    <result column="seller_delivery_apprise" property="sellerDeliveryApprise" jdbcType="VARCHAR" />
    <result column="order_original_price" property="orderOriginalPrice" jdbcType="VARCHAR" />
    <result column="order_price" property="orderPrice" jdbcType="VARCHAR" />
    <result column="discount_price" property="discountPrice" jdbcType="VARCHAR" />
    <result column="pay_seller" property="paySeller" jdbcType="VARCHAR" />
    <result column="actual_pay" property="actualPay" jdbcType="VARCHAR" />
    <result column="user_pay" property="userPay" jdbcType="VARCHAR" />
    <result column="actual_gather" property="actualGather" jdbcType="VARCHAR" />
    <result column="delivery_price" property="deliveryPrice" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="hope_time" property="hopeTime" jdbcType="TIMESTAMP" />
    <result column="seller_push_time" property="sellerPushTime" jdbcType="TIMESTAMP" />
    <result column="dispatch_time" property="dispatchTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="arrive_shop_time" property="arriveShopTime" jdbcType="TIMESTAMP" />
    <result column="pickup_time" property="pickupTime" jdbcType="TIMESTAMP" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
    <result column="cancel_operator" property="cancelOperator" jdbcType="VARCHAR" />
    <result column="apply_refund_reason" property="applyRefundReason" jdbcType="VARCHAR" />
    <result column="apply_refund_operator" property="applyRefundOperator" jdbcType="VARCHAR" />
    <result column="text1" property="text1" jdbcType="VARCHAR" />
    <result column="text2" property="text2" jdbcType="VARCHAR" />
    <result column="text3" property="text3" jdbcType="VARCHAR" />
    <result column="text4" property="text4" jdbcType="VARCHAR" />
    <result column="text5" property="text5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, record_id, order_id, waybill_id, seller_num, seller_name, seller_id, city, rider_name, 
    rider_id, station_name, stataion_id, trade_area, preorder, status, organization_type, 
    epiboly_type, delivery_duration, wait_duration, arrive_duration, hit_duration, nav_distance, 
    line_distance, seller_address, seller_delivery_score, seller_delivery_apprise, order_original_price, 
    order_price, discount_price, pay_seller, actual_pay, user_pay, actual_gather, delivery_price, 
    order_time, pay_time, hope_time, seller_push_time, dispatch_time, receive_time, arrive_shop_time, 
    pickup_time, arrive_time, cancel_time, cancel_reason, cancel_operator, apply_refund_reason, 
    apply_refund_operator, text1, text2, text3, text4, text5
  </sql>

  <!--批量新增订单-->
  <insert id="insertBatch" parameterType="list">
    INSERT INTO salary_order_detail( record_id,order_id,
    waybill_id, seller_num, seller_name,
    seller_id, city, rider_name,
    rider_id, station_name, stataion_id,
    trade_area, preorder, status,
    organization_type, epiboly_type, delivery_duration,
    wait_duration, arrive_duration, hit_duration,
    nav_distance, line_distance, seller_address,
    seller_delivery_score, seller_delivery_apprise,
    order_original_price, order_price, discount_price,
    pay_seller, actual_pay, user_pay,
    actual_gather, delivery_price, order_time,
    pay_time, hope_time, seller_push_time,
    dispatch_time, receive_time, arrive_shop_time,
    pickup_time, arrive_time, cancel_time,
    cancel_reason, cancel_operator, apply_refund_reason,
    apply_refund_operator, text1, text2,
    text3, text4, text5
    )
    VALUES
    <foreach collection="list" item="order" separator=",">
      (#{order.recordId},
      #{order.orderId},
      #{order.waybillId}, #{order.sellerNum}, #{order.sellerName},
      #{order.sellerId}, #{order.city}, #{order.riderName},
      #{order.riderId}, #{order.stationName}, #{order.stataionId},
      #{order.tradeArea}, #{order.preorder}, #{order.status},
      #{order.organizationType}, #{order.epibolyType}, #{order.deliveryDuration},
      #{order.waitDuration}, #{order.arriveDuration}, #{order.hitDuration},
      #{order.navDistance}, #{order.lineDistance}, #{order.sellerAddress},
      #{order.sellerDeliveryScore}, #{order.sellerDeliveryApprise},
      #{order.orderOriginalPrice}, #{order.orderPrice}, #{order.discountPrice},
      #{order.paySeller}, #{order.actualPay}, #{order.userPay},
      #{order.actualGather}, #{order.deliveryPrice}, #{order.orderTime},
      #{order.payTime}, #{order.hopeTime}, #{order.sellerPushTime},
      #{order.dispatchTime}, #{order.receiveTime}, #{order.arriveShopTime},
      #{order.pickupTime}, #{order.arriveTime},
      <if test="order.cancelTime == '' ">
        NULL,
      </if>
      <if test="order.cancelTime != '' ">
        #{order.cancelTime},
      </if>
      #{order.cancelReason}, #{order.cancelOperator}, #{order.applyRefundReason},
      #{order.applyRefundOperator}, #{order.text1}, #{order.text2},
      #{order.text3}, #{order.text4}, #{order.text5}
      )
    </foreach>
  </insert>

  <!--查询列表信息-->
  <select id="queryOrderDetailPage" resultMap="BaseResultMap" parameterType="com.velvol.salary.domain.SalaryOrderDetail" >
    select 
    <include refid="Base_Column_List" />
    from salary_order_detail
    <where>
      <if test="recordId != null and recordId != ''">
        and record_id = #{recordId}
      </if>
      <if test="riderName != null and riderName != ''">
        and rider_name LIKE "%"#{riderName}"%"
      </if>
      <if test="stataionId != null and stataionId != ''">
        and stataion_id = #{stataionId}
      </if>
      <if test="riderId != null and riderId != ''">
        and rider_id = #{riderId}
      </if>
      <if test="overtime == 1">
        and delivery_duration &gt;8 and delivery_duration  &lt;30
      </if>
      <if test="overtime == 0">
        and delivery_duration &gt;30
      </if>
    </where>
  </select>

  <!--查询导出数据-->
  <select id="selectOrderDetail" resultType="map" parameterType="Integer">
    select
    <include refid="Base_Column_List" />
    from salary_order_detail
     where record_id = #{recordId}
  </select>

  <!--查询站点信息-->
  <select id="selectStation" resultType="map" parameterType="Integer">
    SELECT * FROM station WHERE regionid = #{regionId}
  </select>

  <delete id="deleteOrderDetail" parameterType="Integer" >
    DELETE FROM salary_order_detail WHERE record_id = #{recordId}
  </delete>

  <select id="selectRegionById" parameterType="Integer" resultType="string">
    SELECT name FROM region WHERE id =#{regionId}
  </select>


  <insert id="insertOrder" parameterType="map">
    INSERT INTO salary_order_detail( record_id,order_id,
    waybill_id, seller_num, seller_name,
    seller_id, city, rider_name,
    rider_id, station_name, stataion_id,
    trade_area, preorder, status,
    organization_type, epiboly_type, delivery_duration,
    wait_duration, arrive_duration, hit_duration,
    nav_distance, line_distance, seller_address,
    seller_delivery_score, seller_delivery_apprise,
    order_original_price, order_price, discount_price,
    pay_seller, actual_pay, user_pay,
    actual_gather, delivery_price, order_time,
    pay_time, hope_time, seller_push_time,
    dispatch_time, receive_time, arrive_shop_time,
    pickup_time, arrive_time, cancel_time,
    cancel_reason, cancel_operator, apply_refund_reason,
    apply_refund_operator, text1, text2,
    text3, text4, text5
    )
    VALUES
      (#{recordId},
      #{orderId},
      #{waybillId}, #{sellerNum}, #{sellerName},
      #{sellerId}, #{city}, #{riderName},
      #{riderId}, #{stationName}, #{stataionId},
      #{tradeArea}, #{preorder}, #{status},
      #{organizationType}, #{epibolyType}, #{deliveryDuration},
      #{waitDuration}, #{arriveDuration}, #{hitDuration},
      #{navDistance}, #{lineDistance}, #{sellerAddress},
      #{sellerDeliveryScore}, #{sellerDeliveryApprise},
      #{orderOriginalPrice}, #{orderPrice}, #{discountPrice},
      #{paySeller}, #{actualPay}, #{userPay},
      #{actualGather}, #{deliveryPrice}, #{orderTime},
      #{payTime}, #{hopeTime}, #{sellerPushTime},
      #{dispatchTime}, #{receiveTime}, #{arriveShopTime},
      #{pickupTime}, #{arriveTime},
      <if test="order.cancelTime == '' ">
        NULL,
      </if>
      <if test="order.cancelTime != '' ">
        #{cancelTime},
      </if>
      #{cancelReason}, #{cancelOperator}, #{applyRefundReason},
      #{applyRefundOperator}, #{text1}, #{text2},
      #{text3}, #{text4}, #{text5}
      )
  </insert>
</mapper>