<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.velvol.salary.dao.OrderAdjustMapper" >
  <resultMap id="BaseResultMap" type="com.velvol.salary.domain.SalaryOrderAdjust" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="rider_id" property="riderId" jdbcType="VARCHAR" />
    <result column="rider_name" property="riderName" jdbcType="VARCHAR" />
    <result column="stataion_id" property="stataionId" jdbcType="VARCHAR" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <!--<result column="discontent_number" property="discontentNumber" jdbcType="INTEGER" />-->
    <result column="system_number" property="systemNumber" jdbcType="INTEGER" />
    <result column="overtime_adjust_number" property="overtimeAdjustNumber" jdbcType="INTEGER" />
    <result column="serious_overtime_number" property="seriousOvertimeNumber" jdbcType="INTEGER" />
    <result column="on_time_proportion" property="onTimeProportion" jdbcType="VARCHAR" />
    <result column="complete_proportion" property="completeProportion" jdbcType="VARCHAR" />
    <result column="pleased_proportion" property="pleasedProportion" jdbcType="VARCHAR" />
    <result column="deliver_score" property="deliverScore" jdbcType="VARCHAR" />
    <result column="no_service_number" property="noServiceNumber" jdbcType="VARCHAR" />
    <result column="one_star" property="oneStar" jdbcType="INTEGER" />
    <result column="two_star" property="twoStar" jdbcType="INTEGER" />
    <result column="complain" property="complain" jdbcType="INTEGER" />
    <result column="class_ii_complain" property="classIiComplain" jdbcType="INTEGER" />
    <result column="social_security" property="socialSecurity" jdbcType="INTEGER" />
    <result column="live_deduct" property="liveDeduct" jdbcType="INTEGER" />
    <result column="introduction_fee_deduct" property="introductionFeeDeduct" jdbcType="INTEGER" />
    <result column="group_leader" property="groupLeader" jdbcType="INTEGER" />
    <result column="royal_knight" property="royalKnight" jdbcType="INTEGER" />
    <result column="five_star_general" property="fiveStarGeneral" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, record_id, rider_id, rider_name, stataion_id, station_name, amount, system_number, overtime_adjust_number,serious_overtime_number,
    on_time_proportion, complete_proportion, pleased_proportion, no_service_number, one_star, two_star, complain, class_ii_complain, social_security,
    live_deduct, introduction_fee_deduct, group_leader, royal_knight, five_star_general
  </sql>

  <!--查询人效所有信息-->
  <select id="queryOrderAdjustPage" resultMap="BaseResultMap" parameterType="com.velvol.salary.domain.SalaryOrderAdjust" >
    select 
    <include refid="Base_Column_List" />
    from salary_order_adjust
    <where>
      <if test="recordId != null and recordId != ''">
        and record_id = #{recordId}
      </if>
      <if test="riderName != null and riderName != ''">
        and rider_name LIKE "%"#{riderName}"%"
      </if>
      <if test="stataionId != null and stataionId != ''">
        and stataion_id = #{stataionId}
      </if>
      <if test="riderId != null and riderId != ''">
        and rider_id = #{riderId}
      </if>
    </where>
  </select>

  <!--批量新增人效-->
  <insert id="insertBatch" parameterType="list" >
    INSERT INTO salary_order_adjust
    (record_id,
    rider_id,
    rider_name,
    stataion_id,
    station_name,
    amount,
    system_number,
    overtime_adjust_number,
    on_time_proportion,
    complete_proportion,
    pleased_proportion,
    no_service_number,
    one_star,
    two_star,
    complain,
    class_ii_complain,
    social_security,
    live_deduct,
    introduction_fee_deduct,
    group_leader,
    royal_knight,
    five_star_general
    )
    VALUES
    <foreach collection="list" item="order" separator=",">
      (#{order.recordId},
      #{order.riderId},
      #{order.riderName},
      #{order.stataionId},
      #{order.stationName},
      #{order.amount},
      #{order.systemNumber},
      #{order.overtimeAdjustNumber},
      #{order.onTimeProportion},
      #{order.completeProportion},
      #{order.pleasedProportion},
      #{order.noServiceNumber},
      #{order.oneStar},
      #{order.twoStar},
      #{order.complain},
      #{order.classIiComplain},
      #{order.socialSecurity},
      #{order.liveDeduct},
      #{order.introductionFeeDeduct},
      #{order.groupLeader},
      #{order.royalKnight},
      #{order.fiveStarGeneral}
      )
    </foreach>
  </insert>
<!--单个新增-->
  <insert id="insertAdjust" parameterType="map" >
    INSERT INTO salary_order_adjust
    (record_id,
    rider_id,
    rider_name,
    stataion_id,
    station_name,
    amount,
    system_number,
    overtime_adjust_number,
    serious_overtime_number,
    on_time_proportion,
    complete_proportion,
    pleased_proportion,
    no_service_number,
    one_star,
    two_star,
    complain,
    class_ii_complain,
    social_security,
    live_deduct,
    introduction_fee_deduct,
    group_leader,
    royal_knight,
    five_star_general
    )
    VALUES
    (#{recordId},
    #{riderId},
    #{riderName},
    #{stataionId},
    #{stationName},
    #{amount},
    #{systemNumber},
    #{overtimeAdjustNumber},
    #{seriousOvertimeNumber},
    #{onTimeProportion},
    #{completeProportion},
    #{pleasedProportion},
    #{noServiceNumber},
    #{oneStar},
    #{twoStar},
    #{complain},
    #{classIiComplain},
    #{socialSecurity},
    #{liveDeduct},
    #{introductionFeeDeduct},
    #{groupLeader},
    #{royalKnight},
    #{fiveStarGeneral}
    )
  </insert>

  <!--根据骑手ID查询-->
  <select id="selectAdjust" parameterType="map" resultType="integer">
    select count(id) from salary_order_adjust WHERE  rider_id = #{riderId} AND record_id = #{recordId}
  </select>

  <update id="updateAdjust" parameterType="map" >
    update salary_order_adjust
    <set >
      <if test="riderName != null">
        rider_name =#{riderName, jdbcType=VARCHAR},
      </if>
      <if test="stataionId != null">
        stataion_id =#{stataionId},
      </if>
      <if test="stationName != null">
        station_name =#{stationName, jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>

      <if test="systemNumber != null">
        system_number =#{systemNumber, jdbcType=INTEGER},
      </if>
      <if test="overtimeAdjustNumber != null">
        overtime_adjust_number =#{overtimeAdjustNumber, jdbcType=INTEGER},
      </if>
      <if test="seriousOvertimeNumber != null">
        serious_overtime_number =#{seriousOvertimeNumber, jdbcType=INTEGER},
      </if>
      <if test="onTimeProportion != null" >
        on_time_proportion = #{onTimeProportion,jdbcType=INTEGER},
      </if>
      <if test="completeProportion != null" >
        complete_proportion = #{completeProportion,jdbcType=INTEGER},
      </if>
      <if test="pleasedProportion != null" >
        pleased_proportion = #{pleasedProportion,jdbcType=INTEGER},
      </if>

      <if test="oneStar != null" >
        one_star = #{oneStar,jdbcType=INTEGER},
      </if>
      <if test="twoStar != null" >
        two_star = #{twoStar,jdbcType=INTEGER},
      </if>
      <if test="complain != null" >
        complain = #{complain,jdbcType=INTEGER},
      </if>
      <if test="classIiComplain != null" >
        class_ii_complain = #{classIiComplain,jdbcType=INTEGER},
      </if>
      <if test="socialSecurity != null" >
        social_security = #{socialSecurity,jdbcType=INTEGER},
      </if>
      <if test="liveDeduct != null" >
        live_deduct = #{liveDeduct,jdbcType=INTEGER},
      </if>
      <if test="introductionFeeDeduct != null" >
        introduction_fee_deduct = #{introductionFeeDeduct,jdbcType=INTEGER},
      </if>
      <if test="groupLeader != null" >
        group_leader = #{groupLeader,jdbcType=INTEGER},
      </if>
      <if test="royalKnight != null" >
        royal_knight = #{royalKnight,jdbcType=INTEGER},
      </if>
      <if test="fiveStarGeneral != null" >
        five_star_general = #{fiveStarGeneral,jdbcType=INTEGER},
      </if>
      <if test="noServiceNumber != null" >
        no_service_number = #{noServiceNumber,jdbcType=INTEGER},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=INTEGER} AND rider_id = #{riderId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteOrderAdjust" parameterType="Integer">
    DELETE FROM salary_order_adjust WHERE record_id = #{recordId}
  </delete>



  <update id="updateOrderAdjust" parameterType="com.velvol.salary.domain.SalaryOrderAdjust" >
    update salary_order_adjust
    <set >
      <if test="riderName != null">
        rider_name =#{riderName, jdbcType=VARCHAR},
      </if>
      <if test="stataionId != null">
        stataion_id =#{stataionId},
      </if>
      <if test="stationName != null">
        station_name =#{stationName, jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>

      <if test="systemNumber != null">
        system_number =#{systemNumber, jdbcType=INTEGER},
      </if>
      <if test="overtimeAdjustNumber != null">
        overtime_adjust_number =#{overtimeAdjustNumber, jdbcType=INTEGER},
      </if>
      <if test="seriousOvertimeNumber != null">
        serious_overtime_number =#{seriousOvertimeNumber, jdbcType=INTEGER},
      </if>
      <if test="onTimeProportion != null" >
        on_time_proportion = #{onTimeProportion,jdbcType=INTEGER},
      </if>
      <if test="completeProportion != null" >
        complete_proportion = #{completeProportion,jdbcType=INTEGER},
      </if>
      <if test="pleasedProportion != null" >
        pleased_proportion = #{pleasedProportion,jdbcType=INTEGER},
      </if>

      <if test="oneStar != null" >
        one_star = #{oneStar,jdbcType=INTEGER},
      </if>
      <if test="twoStar != null" >
        two_star = #{twoStar,jdbcType=INTEGER},
      </if>
      <if test="complain != null" >
        complain = #{complain,jdbcType=INTEGER},
      </if>
      <if test="classIiComplain != null" >
        class_ii_complain = #{classIiComplain,jdbcType=INTEGER},
      </if>
      <if test="socialSecurity != null" >
        social_security = #{socialSecurity,jdbcType=INTEGER},
      </if>
      <if test="liveDeduct != null" >
        live_deduct = #{liveDeduct,jdbcType=INTEGER},
      </if>
      <if test="introductionFeeDeduct != null" >
        introduction_fee_deduct = #{introductionFeeDeduct,jdbcType=INTEGER},
      </if>
      <if test="groupLeader != null" >
        group_leader = #{groupLeader,jdbcType=INTEGER},
      </if>
      <if test="royalKnight != null" >
        royal_knight = #{royalKnight,jdbcType=INTEGER},
      </if>
      <if test="fiveStarGeneral != null" >
        five_star_general = #{fiveStarGeneral,jdbcType=INTEGER},
      </if>
      <if test="noServiceNumber != null" >
        no_service_number = #{noServiceNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>