<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.velvol.salary.dao.TipinfoMapper" >
  <resultMap id="BaseResultMap" type="com.velvol.salary.domain.Tipinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="regionid" property="regionid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="linkmantel" property="linkmantel" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, content, regionid, name, linkman, linkmantel, addr
  </sql>
  <select id="queryTipinfo" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from tipinfo
    <where>
      <if test="name != null">
        AND name = #{name}
      </if>
      <if test="regionid != null">
        AND regionid = #{regionid}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tipinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.velvol.salary.domain.Tipinfo" >
    insert into tipinfo (id, type, content, 
      regionid, name, linkman, 
      linkmantel, addr)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{regionid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, 
      #{linkmantel,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.velvol.salary.domain.Tipinfo" >
    update tipinfo
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="regionid != null" >
        regionid = #{regionid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmantel != null" >
        linkmantel = #{linkmantel,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>