<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.velvol.salary.dao.WorkerMapper" >
  <resultMap id="BaseResultMap" type="com.velvol.salary.domain.Worker" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="meituanid" property="meituanid" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="cardid" property="cardid" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="getstate" property="getstate" jdbcType="INTEGER" />
    <result column="picpath" property="picpath" jdbcType="VARCHAR" />
    <result column="picpathlzd" property="picpathlzd" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="BIGINT" />
    <result column="station_id" property="stationId" jdbcType="BIGINT" />
    <result column="yhcard" property="yhcard" jdbcType="VARCHAR" />
    <result column="yhperson" property="yhperson" jdbcType="VARCHAR" />
    <result column="yhfrom" property="yhfrom" jdbcType="VARCHAR" />
    <result column="indate" property="indate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="meituandate" property="meituandate" jdbcType="TIMESTAMP" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="predate" property="predate" jdbcType="TIMESTAMP" />
    <result column="infofrom" property="infofrom" jdbcType="VARCHAR" />
    <result column="referee" property="referee" jdbcType="VARCHAR" />
    <result column="htDate" property="htdate" jdbcType="TIMESTAMP" />
    <result column="lzDate" property="lzdate" jdbcType="TIMESTAMP" />
    <result column="lianxiren" property="lianxiren" jdbcType="VARCHAR" />
    <result column="lianxirenphone" property="lianxirenphone" jdbcType="VARCHAR" />
    <result column="otherfrom" property="otherfrom" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="otherphone" property="otherphone" jdbcType="VARCHAR" />
    <result column="xflag" property="xflag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, meituanid, sex, cardid, telephone, type, getstate, picpath, picpathlzd, 
    state, region_id, station_id, yhcard, yhperson, yhfrom, indate, remark, meituandate, 
    sort, predate, infofrom, referee, htDate, lzDate, lianxiren, lianxirenphone, otherfrom, 
    openid, otherphone, xflag
  </sql>
  <select id="queryWorker" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from worker
    where id = #{workerId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from worker
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.velvol.salary.domain.Worker" >
    insert into worker (id, name, meituanid, 
      sex, cardid, telephone, 
      type, getstate, picpath, 
      picpathlzd, state, region_id, 
      station_id, yhcard, yhperson, 
      yhfrom, indate, remark, 
      meituandate, sort, predate, 
      infofrom, referee, htDate, 
      lzDate, lianxiren, lianxirenphone, 
      otherfrom, openid, otherphone, 
      xflag)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{meituanid,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{cardid,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{getstate,jdbcType=INTEGER}, #{picpath,jdbcType=VARCHAR}, 
      #{picpathlzd,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{regionId,jdbcType=BIGINT}, 
      #{stationId,jdbcType=BIGINT}, #{yhcard,jdbcType=VARCHAR}, #{yhperson,jdbcType=VARCHAR}, 
      #{yhfrom,jdbcType=VARCHAR}, #{indate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{meituandate,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, #{predate,jdbcType=TIMESTAMP}, 
      #{infofrom,jdbcType=VARCHAR}, #{referee,jdbcType=VARCHAR}, #{htdate,jdbcType=TIMESTAMP}, 
      #{lzdate,jdbcType=TIMESTAMP}, #{lianxiren,jdbcType=VARCHAR}, #{lianxirenphone,jdbcType=VARCHAR}, 
      #{otherfrom,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{otherphone,jdbcType=VARCHAR}, 
      #{xflag,jdbcType=VARCHAR})
  </insert>

  <update id="updateWorker" parameterType="com.velvol.salary.domain.Worker" >
    update worker
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="meituanid != null" >
        meituanid = #{meituanid,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        cardid = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="getstate != null" >
        getstate = #{getstate,jdbcType=INTEGER},
      </if>
      <if test="picpath != null" >
        picpath = #{picpath,jdbcType=VARCHAR},
      </if>
      <if test="picpathlzd != null" >
        picpathlzd = #{picpathlzd,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=BIGINT},
      </if>
      <if test="yhcard != null" >
        yhcard = #{yhcard,jdbcType=VARCHAR},
      </if>
      <if test="yhperson != null" >
        yhperson = #{yhperson,jdbcType=VARCHAR},
      </if>
      <if test="yhfrom != null" >
        yhfrom = #{yhfrom,jdbcType=VARCHAR},
      </if>
      <if test="indate != null" >
        indate = #{indate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="meituandate != null" >
        meituandate = #{meituandate,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="predate != null" >
        predate = #{predate,jdbcType=TIMESTAMP},
      </if>
      <if test="infofrom != null" >
        infofrom = #{infofrom,jdbcType=VARCHAR},
      </if>
      <if test="referee != null" >
        referee = #{referee,jdbcType=VARCHAR},
      </if>
      <if test="htdate != null" >
        htDate = #{htdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lzdate != null" >
        lzDate = #{lzdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lianxiren != null" >
        lianxiren = #{lianxiren,jdbcType=VARCHAR},
      </if>
      <if test="lianxirenphone != null" >
        lianxirenphone = #{lianxirenphone,jdbcType=VARCHAR},
      </if>
      <if test="otherfrom != null" >
        otherfrom = #{otherfrom,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="otherphone != null" >
        otherphone = #{otherphone,jdbcType=VARCHAR},
      </if>
      <if test="xflag != null" >
        xflag = #{xflag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--查询角色-->
  <select id="selectUserRole" parameterType="String" resultType="String">
    SELECT role_id from user_role WHERE user_id =#{userId}
  </select>

  <!--统计订单-->
  <select id="queryOrderCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM rider_order_count WHERE rider_id =#{riderId} AND order_time BETWEEN #{firstDate} AND #{lastDate}
  </select>

  <!--骑手注册-->
  <insert id="registerWorker" parameterType="com.velvol.salary.domain.Worker" >
    <selectKey  keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into preworker (
      id, name, telephone, type,  state, region_id,
      station_id, predate, reqtime,
      infofrom, referee,
      otherfrom, recruittype, openid)
    values (#{id}, #{name}, #{telephone},
      #{type}, #{state}, #{regionId},
      #{stationId}, #{predate}, #{reqtime},
      #{infofrom}, #{referee},
      #{otherfrom}, #{recruittype}, #{openid})
  </insert>

  <select id="selectWorker" parameterType="String" resultType="Integer">
    select count(*) from Worker p WHERE p.name = #{referee}
  </select>

  <!--查询站点-->
  <select id="queryRegion" resultType="map">
    select id, name FROM region
  </select>

  <!--查询地区-->
  <select id="queryStation" resultType="map">
    select id, name, regionid FROM station
  </select>

  <!--校验手机号-->
  <select id="checkoutTelephone" parameterType="String" resultType="Integer">
    SELECT count(p.id) FROM
    (SELECT id, state, telephone FROM preworker  WHERE state IN (0, 1, 2, 3)
    UNION ALL SELECT id, state, telephone FROM worker  WHERE state = 3) p
    WHERE p.telephone = #{telephone}
  </select>

  <!--根据id查询站点信息-->
  <select id="queryTipinfo" parameterType="java.lang.Long" resultType="map">
    select id, name, regionid FROM station WHERE id = #{id}
  </select>
</mapper>